<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="authorCards(authors)" class="row row-cols-2 row-cols-md-5 g-4">
    <div th:each="author : ${authors}" th:insert="~{fragments/author :: authorCard(${author})}"></div>
</div>

<div th:fragment="authorCardsNew(authors)" class="row row-cols-2 row-cols-md-5 g-4">
    <div th:each="author : ${authors}" th:insert="~{fragments/author :: authorCard(${author})}"></div>
    <div>
        <div class="col h-100">
            <div class="card h-100">
                <div class="card-body align-content-center text-center">
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#addAuthorModal">
                        Auteur toevoegen
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="authorCard(author)" class="col h-100">
    <!--/*@thymesVar id="author" type="nl.miwnn.ch19.vincent.LibraryDemo.model.Author"*/-->
    <div class="card h-100">
        <div class="card-body text-center bg-body-secondary">
            <a th:href="@{/author/detail/{lastName}/{firstName}(lastName=${author.lastName}, firstName=${author.firstName})}">
                <img th:if="${author.image != null}"
                     th:src="@{/images/{id}(id=${author.image.id})}"
                     th:alt="|Foto van ${author.fullName}|"
                     class="w-100 cirkel mb-2">
                <h5 class="card-title" th:text="${author.fullName}"></h5>
            </a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="book, iterStat : ${author.books}" th:if="${iterStat.index < 3}">
                <a th:href="@{/book/detail/{title}(title=${book.title})}" th:text="${book.title}"></a>
            </li>
        </ul>
        <div class="card-footer">
            <small class="text-muted text-center d-block" th:text="|${author.books.size()} boeken totaal|"></small>

            <button type="button"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editAuthorModal"
                    th:data-author-id="${author.id}"
                    th:data-first-name="${author.firstName}"
                    th:data-last-name="${author.lastName}"
                    th:data-image-id="${author.image != null ? author.image.id : ''}">
                <i class="bi bi-pencil"></i>
            </button>
        </div>
    </div>
</div>

<form th:fragment="authorForm(formAuthor)"
      id="addAuthorForm"
      th:action="@{/author/save}"
      method="post"
      th:object="${formAuthor}"
      enctype="multipart/form-data">
    <!--/*@thymesVar id="formAuthor" type="nl.miwnn.ch19.vincent.LibraryDemo.model.Author"*/-->

    <input type="hidden" th:field="*{id}">

    <div class="mb-3">
        <label for="firstName" class="form-label">Voornaam</label>
        <input type="text" id="firstName" class="form-control"
               th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
               th:field="*{firstName}" placeholder="Voornaam">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Achternaam</label>
        <input type="text" id="lastName" class="form-control"
               th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
               th:field="*{lastName}" placeholder="Achternaam">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

    <div class="mb-3" th:if="*{image != null}">
        <label class="form-label">Huidige foto</label>
        <div>
            <img th:src="@{/images/{id}(id=*{image.id})}" th:alt="|Foto van *{firstName} *{lastName}|"
                 class="img-thumbnail" style="max-height: 100px;">
        </div>
        <div class="form-check mt-2">
            <input type="checkbox" id="deleteImage" name="deleteImage" value="true" class="form-check-input">
            <label for="deleteImage" class="form-check-label">Foto verwijderen</label>
        </div>
    </div>

    <div class="mb-3">
        <label for="imageFile" class="form-label"
               th:text="*{image != null} ? 'Nieuwe foto uploaden' : 'Profielfoto'"></label>
        <input type="file" id="imageFile" name="imageFile" class="form-control" accept="image/*">
    </div>
</form>

</html>