<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bookCards(books)" class="row row-cols-6 g-5">
    <div th:each="book : ${books}" th:insert="~{fragments/book :: bookCard(${book})}"></div>
</div>

<div th:fragment="bookCardsNew(books)" class="row row-cols-6 g-4">
    <div th:each="book : ${books}" th:insert="~{fragments/book :: bookCard(${book})}"></div>

    <div class="col h-100">
        <div class="card h-100">
            <div class="card-body align-content-center text-center">
                <a th:href="@{/book/add}">Add a new book</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="bookCard(book)" class="col h-100">
    <!--/*@thymesVar id="book" type="nl.miwnn.ch19.vincent.LibraryDemo.model.Book"*/-->

    <div class="card h-100">
        <a th:href="@{/book/detail/{title}(title = ${book.title})}">
            <img height="275" th:src="${book.coverImageUrl}" class="card-img-top object-fit-cover" th:alt="|Cover image for ${book.title}|">
        </a>
        <div class="card-body text-center bg-body-secondary">
            <a th:href="@{/book/detail/{title}(title = ${book.title})}">
                <h5 class="card-title" th:text="${book.title}"></h5>
            </a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="author : ${book.authors}">
                <a th:href="@{/author/details/{name}(name = ${author.fullName})}" th:text="${author.fullName}"></a>
            </li>
        </ul>
        <div class="card-footer">
            <h6 class="card-subtitle text-center"><span th:text="${book.copies.size()}"></span> available out of <span th:text="${book.copies.size()}"></span> copies</h6>
        </div>
    </div>
</div>

<div th:fragment="bookForm(formBook, allAuthors, allGenres, #fields)">
    <!--/*@thymesVar id="allAuthors" type="java.util.List<nl.miwnn.ch19.vincent.LibraryDemo.model.Author>"*/-->
    <!--/*@thymesVar id="formBook" type="nl.miwnn.ch19.vincent.LibraryDemo.model.Book"*/-->

    <form class="col-lg-6"
          th:action="@{/book/save}"
          method="post"
          th:object="${book}">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label for="title" class="form-label">Titel</label>
            <input type="text" id="title" class="form-control" th:field="*{title}"/>
            <span th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}"
                  class="error">
            </span>
        </div>

        <div class="mb-3">
            <label for="authors" class="form-label">Auteurs</label>
            <select id="authors" class="form-control" th:field="*{authors}" multiple>
                <option th:each="author : ${allAuthors}"
                        th:value="${author.id}"
                        th:text="${author.fullName}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="publicationYear" class="form-label">Publicatiejaar</label>
            <input id="publicationYear"
                   class="form-control"
                   th:field="*{publicationYear}"/>
            <span th:if="${#fields.hasErrors('publicationYear')}"
                  th:errors="*{publicationYear}"
                  class="error">
            </span>
        </div>

        <div class="mb-3">
            <label for="genre">Genre</label>
            <input type="text" id="genre" class="form-control"
                   th:field="*{genre}" required>
        </div>

        <div class="mb-3">
            <label for="coverImageUrl">URL omslagafbeelding</label>
            <input type="url" id="coverImageUrl"
                   class="form-control"
                   th:field="*{coverImageUrl}"
                   placeholder="https://...">
        </div>
        <div class="mb-3">
            <label for="description">Beschrijving</label>
            <textarea id="description"
                      class="form-control"
                      th:field="*{description}"
                      rows="5"
                      placeholder="Optionele beschrijving van het boek">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Opslaan</button>
        <a  onclick="history.back()" class="btn btn-secondary">Annuleren</a>
    </form>
</div>