<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Niet gevonden</title></head>
<body>
<div id="content">
    <h1 class="mb-3">404</h1>

    <p>
        Het spijt me maar u heeft iets opgevraagd wat wij niet hebben kunnen vinden.
        Ik weet niet precies wat er mis ging, wat ik wel weet is het volgende:
    </p>

    <p th:text="${message}"></p>

    <p>
        Mocht u niet weten wat u nu moet doen dan zou ik voorstellen om naar de overzichtspagina te gaan.
        <a th:href="@{/book/all}" class="btn btn-primary">Overzichtspagina van alle boeken</a>.
    </p>
</div>
</body>
</html>