h1 {
    text-align: center;
}

.cirkel {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.badge {
    color: black;
    background-color: papayawhip;
}

.placeholder-no-data {
    color: gray;
}
