<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Auteurs</title></head>
<body>
<div id="content">
    <h1 class="mb-4">Auteurs</h1>
    <div th:replace="~{fragments/author :: authorCardsNew(${allAuthors})}"></div>

    <!-- Modal voor toevoegen -->
    <div class="modal fade" id="addAuthorModal"
         tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Auteur toevoegen</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                </div>

                <!-- Het formulier-fragment geladen in de modal-body -->
                <div class="modal-body"
                     th:insert="~{fragments/author :: authorForm(${formAuthor}, 'addAuthorForm')}">
                </div>

                <!-- Knoppen in de modal-footer, gekoppeld via form="addAuthorForm" -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Annuleren
                    </button>
                    <button type="submit"
                            form="addAuthorForm"
                            class="btn btn-primary">
                        Opslaan
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal voor bewerken -->
    <div th:replace="~{fragments/author :: editAuthorModal(${formAuthor}, 'editAuthorForm')}"></div>

    <script>
        const editModal = document.getElementById('editAuthorModal');
        editModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            editModal.querySelector('[name="id"]').value =
                button.getAttribute('data-author-id');
            editModal.querySelector('[name="firstName"]').value =
                button.getAttribute('data-first-name');
            editModal.querySelector('[name="lastName"]').value =
                button.getAttribute('data-last-name');

            const imageId = button.getAttribute('data-image-id');
            const imageSection = editModal.querySelector('.current-image-section');
            if (imageId) {
                editModal.querySelector('img.img-thumbnail').src = '/images/' + imageId;
                imageSection.classList.remove('d-none');
            } else {
                imageSection.classList.add('d-none');
            }
            editModal.querySelector('[name="deleteImage"]').checked = false;
            editModal.querySelector('[name="imageFile"]').value = '';
        });
    </script>


</div>
</body>
</html>