<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Overzicht van alle auteurs</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container mt-4">
    <h1 class="mb-3">Overzicht van alle auteurs</h1>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${allAuthors}">
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
            <td></td>
        </tr>

        <form th:action="@{/author/save}"
              th:object="${newAuthor}"
              th:method="post">
            <tr>
                <td>
                    <input type="text" th:field="*{firstName}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" class="form-control">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>

<div th:replace="~{fragments/general :: scripts}"></div>
</body>
</html>