<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head>
    <title th:if="${formAuthor.id == null}">Auteur toevoegen</title>
    <title th:unless="${formAuthor.id == null}" th:text="|${formAuthor.fullName} bewerken|">Auteur bewerken</title>
</head>
<body>
<div id="content">
    <h1 class="mb-4" th:if="${formAuthor.id == null}">Auteur toevoegen</h1>
    <h1 class="mb-4" th:unless="${formAuthor.id == null}" th:text="|${formAuthor.fullName} bewerken|"></h1>

    <div class="col-lg-6"
         th:replace="~{fragments/author :: authorForm(${formAuthor})}">
    </div>

    <div class="mt-3">
        <button type="submit" form="addAuthorForm" class="btn btn-primary">
            Opslaan
        </button>
        <a onclick="history.back()" class="btn btn-secondary">Annuleren</a>
    </div>
</div>
</body>
</html>