<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title th:text="|Details van ${book.title}|">Title</title></head>
<body>
<div id="content">
    <h1 class="mb-3" th:text="|Details van ${book.title}|"></h1>

    <p>

    <p>        Dit boek is geschreven door:
        <span th:each="author, iterStat : ${book.authors}">
            <span th:text="${author.fullName}"></span><span th:if="!${iterStat.last}">, </span>
        </span>
        en is uitgegeven in <span th:text="${book.publicationYear}"></span>
    </p>

    <p th:if="${book.coverImageUrl != null
                and !book.coverImageUrl.isEmpty()}">
        <img th:src="${book.coverImageUrl}" class="img-fluid img-thumbnail"
             th:alt="${book.title}">

    <p th:if="${book.description != null
                and !book.description.isEmpty()}">
        <span th:text="${book.description}"></span>
    </p>

    <p th:unless="${book.description != null
                    and !book.description.isEmpty()}"
       class="placeholder-no-data">
        Geen beschrijving beschikbaar.
    </p>

    <div class="d-flex gap-2 mb-4">
        <a th:href="@{/book/edit/{title}(title=${book.title})}" class="btn btn-primary">Bewerk dit boek</a>
        <form th:action="@{/book/delete/{title}(title=${book.title})}" method="post">
            <button type="submit" class="btn btn-danger">Verwijder dit boek</button>
        </form>
        <form th:action="@{/book/add-copy/{title}(title=${book.title})}" method="post">
            <button type="submit" class="btn btn-success">Koop exemplaar</button>
        </form>
    </div>

    <h2 class="mb-3">Exemplaren</h2>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Exemplaar</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="copy : ${book.copies}">
            <td th:text="${copy.id}">1</td>
            <td th:text="${copy.available} ? 'Beschikbaar' : 'Uitgeleend'">
                Status
            </td>
            <td>
                <form th:if="${copy.available}"
                      th:action="@{/copies/borrow/{id}(id=${copy.id})}"
                      method="post">
                    <button type="submit" class="btn btn-sm btn-primary">Lenen</button>
                </form>
                <form th:unless="${copy.available}"
                      th:action="@{/copies/return/{id}(id=${copy.id})}"
                      method="post">
                    <button type="submit" class="btn btn-sm btn-warning">Terugbrengen</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>