<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Boekenoverzicht</title></head>
<body>
<div id="content">
    <h1 class="mb-3">Boekenoverzicht</h1>

    <form method="get" action="/book/all" class="d-flex justify-content-center mb-3">
        <input id="search" type="text" name="query"
               th:value="${query}"
               aria-labelledby="search-btn"
               placeholder="Zoek op titel..."
               class="form-control me-2 w-auto"/>
        <button id="search-btn" type="submit" class="btn btn-primary">Zoeken</button>
    </form>

    <div th:replace="~{fragments/book :: bookCardsNew(${allBooks})}"></div>
</div>
</body>
</html>